--relative
--no-parameter_types-check
--no-parameter_documentation-check
--no-top_scope_facts-check
--no-legacy_facts-check
--no-relative_classname_reference-check
--no-relative_classname_inclusion-check
--no-anchor_resource-check
--no-version_comparison-check
--no-manifest_whitespace_closing_bracket_after-check
